---
import Layout from '../layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
import Intro from '@/sections/Intro.astro';
import OpeningHours from '@/sections/OpeningHours.astro';
---

<Layout title='EnamorArte - Trattoría y Charcutería Artesanal'>
  <main class='w-full h-full'>
    <Hero />
    <Intro />
    <OpeningHours />
  </main>
</Layout>
