---
import Layout from '../layouts/Layout.astro';
import Hero from '@/sections/Hero.astro';
---

<Layout title='EnamorArte - Trattoría y Charcutería Artesanal'>
  <main class='w-full h-full'>
    <Hero />
  </main>
</Layout>
