---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title='EnamorArte - Trattoría y Charcutería Artesanal'>
  <main>
    <h1>EnamorArte - Trattoría y Charcutería Artesanal</h1>
  </main>
</Layout>
