---
import BarSpoon from '@/components/BarSpoon.astro';
import LineHero from '@/components/LineHero.astro';
import EnamorateTitle from '@/components/EnamorateTitle.astro';
import SectionCover from '@/components/SectionCover.astro';
---

<SectionCover image='images/hero-bg.jpg' as='section'>
  <!-- <LineHero class='absolute -top-32 -left-40 text-white opacity-30 aspect-[1400/667] z-10' /> -->
  <div class='container max-w-4xl mx-auto flex flex-col justify-center items-center h-full relative'>
    <img src='/images/logo_colorful.jpg' class='h-32 w-auto aspect-auto' alt='' srcset='' />
    <EnamorateTitle as='h1' />
    <h2 class='text-3xl font-medium mt-5 max-w-prose text-center'>
      Donde los <span class='flavors'>sabores</span> se encuentran y los <span class='hearts'>corazones</span> se en<span
        class='love'>amor</span
      >an
    </h2>
  </div>
  <BarSpoon
    class='absolute text-white -bottom-10 left-1/2 -translate-x-1/2 animate-sink animate-delay-1000 animate-duration-1000 opacity-90'
  />
</SectionCover>

<style>
  .hearts {
    color: var(--color-accent);
  }
  .flavors {
    color: blueviolet;
  }
</style>
