---
import ImageDivider from '@/sections/ImageDivider.astro';
---

<section class='relative pb-40'>
  <ImageDivider />
  <img
    src='/svgs/o.svg'
    class='absolute bottom-0 right-0 aspect-[568/917] w-auto h-[75%] opacity-50'
    alt=''
    srcset=''
  />
  <article class='container max-w-3xl mx-auto pt-20'>
    <h3 class='text-3xl text-primary leading-tight tracking-normal'>Opening Hours</h3>
    <ul class='mt-8 divide-y divide-dashed divide-white/50 max-w-md'>
      <li class='font-Montserrat text-lg font-light leading-snug -tracking-wide py-2'>Mon - Thu: 5 PM - 12 AM</li>
      <li class='font-Montserrat text-lg font-light leading-snug -tracking-wide py-2'>Fri - Sat: 5 PM - 2 AM</li>
      <li class='font-Montserrat text-lg font-light leading-snug -tracking-wide py-2'>Sun: Closed</li>
    </ul>
  </article>
</section>
