---
import OpeningBlock from '@/sections/OpeningBlock.astro';
---

<OpeningBlock />
<section class='relative py-20 md:py-36 px-4'>
  <!-- <LetterE /> -->
  <img
    src='/svgs/e.svg'
    class='absolute bottom-0 -right-32 aspect-[568/917] w-auto h-[100%] opacity-35 hidden md:block'
    alt=''
    srcset=''
  />
  <article class='container max-w-3xl mx-auto'>
    <div class='md:mt-10 grid grid-cols-1 gap-8 md:grid-cols-2 md:gap-40'>
      <div>
        <h4 class='text-xl text-accent leading-tight tracking-normal'>Gran Salón</h4>
        <ul class='mt-8 divide-y divide-dashed divide-white/50 max-w-md'>
          <li class='font-Montserrat text-lg font-light leading-snug -tracking-wide py-2'>Mar - Sab: 3 PM - 11 PM</li>
          <li class='font-Montserrat text-lg font-light leading-snug -tracking-wide py-2'>Dom: 2 PM - 9 PM</li>
          <li class='font-Montserrat text-lg font-light leading-snug -tracking-wide py-2'>Lun: Cerrado</li>
        </ul>
      </div>
      <div>
        <h4 class='text-xl text-accent leading-tight tracking-normal'>Pinceladas rápidas</h4>
        <ul class='mt-8 divide-y divide-dashed divide-white/50 max-w-md'>
          <li class='font-Montserrat text-lg font-light leading-snug -tracking-wide py-2'>Lun - Dom: 9 AM - 5 PM</li>
        </ul>
      </div>
    </div>
  </article>
</section>
